.container{
  display: flex;
  justify-content: center;
}
.file-uploader-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.filter-container{
  display: flex;
  gap: 1rem;
  align-items: center;
}
