:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file-uploader-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.filter-input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filter-item {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  .page-range-input {
    flex: 1;
  }
}

/* DESKTOP ≥ 720px */
@media (min-width: 720px) {
  .container {
    flex-direction: row;
  }
  .app-layout {
    padding: 32px 48px; /* Desktop padding */
    gap: 32px;
  }

  .app-content {
    flex-direction: row;
    gap: 32px;
  }

  .file-uploader-container {
    width: 50%;
  }

  .filter-input-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .filter-item {
    width: auto;
  }
}
