:host {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.extract-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.file-uploader-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.thumbnail-section {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.extract-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.option-item {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  .page-range-input {
    flex: 1;
  }
}

/* DESKTOP ≥ 720px */
@media (min-width: 720px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .extract-container {
    width: 60%;
    max-width: 800px;
  }

  .extract-options {
    flex-direction: row;
  }

  .option-item {
    width: auto;
  }
}
