<div class="thumbnail-list" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="onDrop($event)">
  @for (pdf of thumbnails(); track pdf.fileId; let i = $index) {

  <div class="thumbnail-wrapper" cdkDrag>
    <app-thumbnail [id]="pdf.fileId" [thumbnailUrl]="pdf.thumbnailUrl" [pageCount]="pdf.pageCount"
      [fileName]="pdf.fileName" (remove)="removePdf($event)">
    </app-thumbnail>

    <!-- Order indicator -->
    <div class="order-badge">{{ i + 1 }}</div>

    <!-- Drag handle (important for mobile UX) -->
    <div class="drag-hint">
      <mat-icon>drag_indicator</mat-icon>
    </div>

  </div>
  }
</div>

<app-file-uploader [allowedTypes]="['pdf']" [isUploading]="isUploading()" (onFileSelected)="onFileUploaded($event)">
</app-file-uploader>