<div class="container">

  <div class="merge-button-container">
    <div class="merge-button">
      <app-action-button [loading]="isMerging() || isWaitingForUploads()" [disabled]="!canMerge()"
        [label]="mergeButtonLabel()" variant="filled" [inputClass]="'big-button-64 w-100'" (onClick)="merge()">
      </app-action-button>
    </div>
  </div>


  @if(thumbnails().length > 0){
  <div class="thumbnail-list" cdkDropList cdkDropListOrientation="mixed" (cdkDropListDropped)="onDrop($event)">
    @for (pdf of thumbnails(); track pdf.fileId; let i = $index) {

    <div class="thumbnail-wrapper" cdkDrag [class.failed]="pdf.uploadStatus === 'failed'">

      <app-thumbnail [id]="pdf.fileId || pdf.thumbnailUrl" [thumbnailUrl]="pdf.thumbnailUrl" [pageCount]="pdf.pageCount"
        [fileName]="pdf.fileName" [uploadStatus]="pdf.uploadStatus" (remove)="removePdf($event)"
        (retry)="retryUpload(pdf.fileId)">
      </app-thumbnail>

      <!-- Order indicator -->
      <div class="order-badge">{{ i + 1 }}</div>

      @if (pdf.uploadStatus === 'failed') {
      <div class="upload-overlay error">
        <mat-icon>error</mat-icon>
        <button matMiniFab matTooltip="Retry" (click)="retryUpload(pdf.fileId)" class="error-button">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      }

      <!-- Drag handle -->
      <div class="drag-hint">
        <mat-icon>drag_indicator</mat-icon>
      </div>

    </div>
    }
  </div>
  }

  <div class="file-uploader-container">
    <div class="file-uploader-content">
      <app-file-uploader [allowedTypes]="['pdf']" [isUploading]="false" (onFileSelected)="onFileUploaded($event)">
      </app-file-uploader>
    </div>
  </div>
</div>