<div class="container">
  <div class="password-container">

    @if (thumbnail(); as thumb) {
    <!-- Show thumbnail when file is uploaded -->
    <div class="thumbnail-list">
      <div class="thumbnail-wrapper">
        <app-thumbnail [id]="thumb.fileId || thumb.thumbnailUrl" [thumbnailUrl]="thumb.thumbnailUrl"
          [pageCount]="thumb.pageCount" [fileName]="thumb.fileName" [uploadStatus]="thumb.uploadStatus"
          (remove)="removePdf()" (retry)="retryUpload(thumb.tempId)">
        </app-thumbnail>
      </div>
    </div>
    }

    @if (thumbnail() === null) {
    <!-- Show file uploader when no file is uploaded -->
    <div class="file-uploader-wrapper">
      <app-file-uploader [allowedTypes]="['pdf']" [fileType]="'pdf'" (onFileSelected)="onFileUploaded($event)"
        (fileRemoved)="onFileRemoved()">
      </app-file-uploader>
    </div>
    }

    <!-- password options -->
    <div class="password-options">
      <div class="option-item">
          <mat-form-field appearance="outline" class="range-field">
            <mat-label>Password</mat-label>

            <input matInput [(ngModel)]="password"/>
        </mat-form-field>
      </div>

      <div class="option-item">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="actionType()"
          (change)="actionTypeChange($event)">
          <mat-button-toggle value="ADD">Add Password</mat-button-toggle>
          <mat-button-toggle value="REMOVE">Remove Password</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>
    <app-action-button [disabled]="!canProcess()" [loading]="isProcessing() || isWaitingForUpload()"
      [label]="passwordButtonLabel()" variant="filled" [inputClass]="'big-button-64 w-100'" (onClick)="process()">
    </app-action-button>
  </div>
</div>