<div class="container">

  <div class="compress-button-container">
    <div class="compress-button">
      <app-action-button [loading]="isCompressing() || isWaitingForUploads()" [disabled]="!canCompress()"
        [label]="compressButtonLabel()" variant="filled" [inputClass]="'big-button-64 w-100'" (onClick)="compress()">
      </app-action-button>
    </div>
  </div>

  <div class="compress-options">
    <div class="option-item">
      <p class="label">Compression Level</p>
    </div>

    <div class="option-item">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="compressionLevel()"
        (change)="compressLevelChange($event)">
        <mat-button-toggle value="LOW">Low</mat-button-toggle>
        <mat-button-toggle value="MEDIUM">Medium</mat-button-toggle>
        <mat-button-toggle value="HIGH">High</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>


  @if(thumbnails().length > 0){
  <div class="thumbnail-list">
    @for (pdf of thumbnails(); track pdf.tempId; let i = $index) {
    <div class="thumbnail-wrapper">

      <app-thumbnail [id]="pdf.fileId || pdf.thumbnailUrl" [thumbnailUrl]="pdf.thumbnailUrl" [size]="pdf.size || 0"
        [fileName]="pdf.fileName" [uploadStatus]="pdf.uploadStatus" (remove)="removePdf($event)"
        (retry)="retryUpload(pdf.tempId)">
      </app-thumbnail>
    </div>
    }
  </div>
  }

  <div class="file-uploader-container">
    <div class="file-uploader-content">
      <app-file-uploader [allowedTypes]="['pdf']" [fileType]="'pdf'" [multiple]="true" [isUploading]="false"
        (onFilesSelected)="onFilesUploaded($event)">
      </app-file-uploader>
    </div>
  </div>
</div>