<div class="container">
  <div class="convert-button-container">
    <div class="convert-button">
      <app-action-button [loading]="isCompressing() || isWaitingForUploads()" [disabled]="!canCompress()"
        [label]="compressButtonLabel()" variant="filled" [inputClass]="'big-button-64 w-100'" (onClick)="compress()">
      </app-action-button>
    </div>
  </div>


  <div class="compress-options">
    <div class="option-item">
      <p class="label">Compression Level</p>
    </div>

    <div class="option-item">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="compressionLevel()"
        (change)="compressLevelChange($event)">
        <mat-button-toggle value="LOW">Low</mat-button-toggle>
        <mat-button-toggle value="MEDIUM">Medium</mat-button-toggle>
        <mat-button-toggle value="HIGH">High</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>


  @if(thumbnails().length > 0){
  <div class="thumbnail-list">
    @for (image of thumbnails(); track image.tempId; let i = $index) {

    <div class="thumbnail-wrapper" [class.failed]="image.uploadStatus === 'failed'">

      <app-image-thumbnail [id]="image.fileId || image.thumbnailUrl" [thumbnailUrl]="image.thumbnailUrl"
        [size]="image.size || 0" [enableRotate]="false" [fileName]="image.fileName" [uploadStatus]="image.uploadStatus"
        (remove)="removeImage($event)" (retry)="retryUpload(image.fileId)">
      </app-image-thumbnail>

      @if (image.uploadStatus === 'failed') {
      <div class="upload-overlay error">
        <mat-icon>error</mat-icon>
        <button mat-mini-fab matTooltip="Retry" (click)="retryUpload(image.fileId)" class="error-button">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      }

    </div>
    }
  </div>
  }

  <div class="file-uploader-container">
    <div class="file-uploader-content">
      <app-file-uploader [allowedTypes]="allowedTypes()" [fileType]="'image'" [multiple]="true"
        [validateDimensions]="true" [isUploading]="false" (onFilesSelected)="onFilesUploaded($event)"
        (onRawFilesSelected)="onRawFilesReceived($event)">
      </app-file-uploader>
    </div>
  </div>
</div>