<nav>
  <!-- <span class="brand"><img src="assets/convertlab-logo.png" /></span>
  <button matButton="text">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
  </button> -->

  <button matButton="text">
    <mat-icon class="medium-icon">home</mat-icon>
    ConvertLab
  </button>
  <button matButton="text" [routerLink]="['/merge-pdf']">Merge PDF</button>
  <button matButton="text" [routerLink]="['/extract-pdf']">Extract PDF</button>
  <span class="spacer"></span>
  <span class="right-block">
    <!-- <app-search-bar (search)="handleSearch($event)"></app-search-bar> -->
  </span>

</nav>