nav {
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  gap: 0.5rem;
}

.brand {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.nowrap {
  white-space: nowrap;
}
