<nav>
  <button mat-icon-button (click)="onMenuClick()" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>

  <button matButton="text" [routerLink]="['/']">
    <mat-icon class="medium-icon">home</mat-icon>
    ConvertLab
  </button>
  <a matButton="text" class="nowrap" [routerLink]="['/merge-pdf']" routerLinkActive="active-link">Merge PDF</a>
  <a matButton="text" class="nowrap" [routerLink]="['/extract-pdf']" routerLinkActive="active-link">Extract PDF</a>
  <span class="spacer"></span>
</nav>