:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.range-field {
  width: 100%;
}

@media (min-width: 720px) {
  .range-container {
    width: auto;
  }
  .range-field {
    width: auto;
  }
}
