@use '@angular/material' as mat;

.big-button-64 {
  @include mat.button-overrides(
    (
      filled-container-height: 64px,
      filled-label-text-size: 24px,
    )
  );
}

.error-button {
  @include mat.button-overrides(
    (
      protected-container-color: red,
      filled-label-text-color: #ffffff,
    )
  );
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-error),
      button-color: #ffffff,
      supporting-text-color: #ffffff,
    )
  );
}

.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #4caf50,
      button-color: #ffffff,
      supporting-text-color: #ffffff,
    )
  );
}

.snackbar-info {
  @include mat.snack-bar-overrides(
    (
      container-color: var(--mat-sys-on-primary),
      button-color: #ffffff,
      supporting-text-color: #ffffff,
    )
  );
}
