.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.w-60 {
  width: 60%;
}

.big-button-64 {
  .mat-icon {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
  }
}
